<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>DIY Workshop</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link href="/css/font.css" rel="stylesheet">

    <!-- Google Web Fonts -->
    <link href="/css/main.css" rel="stylesheet">
    <div class="parent-navbar">
        <div class="navbar-item header-font"><a class="selected-menu" href="/">HOME</a></div>
        <div class="navbar-item header-font"><a class="menu-link" href="/workshop/home">PROJECTS</a></div>
        <div class="banner-item banner-font"><a class="menu-link" href="/">MY DIY WORKSHOP</a></div>
        <div class="navbar-item header-font"><a class="menu-link" href="/signup">SIGN UP</a></div>
        <div th:if="${loggedInUser != null && loggedInUser.name != null}" class="navbar-item header-font"><a class="menu-link" href="/logout">LOGOUT</a></div>
        <div th:unless="${loggedInUser != null && loggedInUser.name != null}" class="navbar-item header-font"><a class="menu-link" href="/login">LOGIN</a></div>
    </div>
</head>
<body>
    <div class="diy-cover">
<!--        <div class="diy-cover-text">-->
<!--            <div style="position:relative"><img src="/images/diy-icon.png" /></div>-->
<!--            <div style="position:relative">-->
<!--                <table>-->
<!--                    <tr>-->
<!--                        <td valign="bottom" class="cover-image-font">MY DIY</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td valign="top" class="cover-image-font">WORKSHOP</td>-->
<!--                    </tr>-->
<!--                </table>-->
<!--            </div>-->
<!--        </div>-->
    </div>
    <div class="diy-centered diy-content-padding">
        <div class="diy-block-display">
            <div class="diy-centered">
                <table>
                    <tr>
                        <td align="center" class="regular-font colored-font" style="padding-bottom:10px">ABOUT</td>
                    </tr>
                    <tr>
                        <td align="center" class="regular-font">What is My DIY Workshop?</td>
                    </tr>
                    <tr>
                        <td align="center"><hr></td>
                    </tr>
                </table>
            </div>
            <div class="normal-font diy-centered">My DIY Workshop is a one-stop solution to manage your DIY projects with ease. It allows you to</div>
            <div class="diy-centered diy-content-padding">
                <table border="0px" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="right" class="regular-font colored-table-column" style="padding:20px">PLAN</td>
                        <td rowspan="3" align="right" class="regular-font"><img width="450px" height="300px" src="/images/diy-plan.jpg"></td>
                    </tr>
                    <tr>
                        <td align="right" height="230px" width="410px" valign="top" class="normal-font colored-table-column" style="padding-right:20px;padding-left:20px">
                            Upload your project plans to store and maintain them in an efficient manner. No more losing plans that are done on paper.
                            Add instructions to your DIY project that others can follow. List down tools and materials required for the project and organize them by vendors.
                            Create instant shopping list for the materials required for the project.
                        </td>
                    </tr>
                    <tr>
                        <td height="7px"></td>
                    </tr>
                    <tr>
                        <td rowspan="3" align="right" valign="top" class="regular-font">
                            <img width="450px" height="300px" src="/images/diy-organize.jpg">
                        </td>
                        <td align="left" class="regular-font colored-table-column" style="padding:20px">ORGANIZE</td>
                    </tr>
                    <tr>
                        <td valign="top" align="left" height="230px" width="410px" class="normal-font colored-table-column" style="padding-right:20px;padding-left:20px">
                            Organize the web resources for the project like - Web Articles, DIY tutorials, DIY Videos all in one place to refer back to them when needed.
                            Upload images, videos, documents and other files related to the project from your local machine to maintain and organize the media related to the project.
                            No more searching the web again for lost bookmarks.
                        </td>
                    </tr>
                    <tr>
                        <td height="7px"></td>
                    </tr>
                    <tr>
                        <td align="right" class="regular-font colored-table-column" style="padding:20px">SHARE</td>
                        <td rowspan="3" align="right" class="regular-font"><img width="450px" height="300px" src="/images/diy-share.jpg"></td>
                    </tr>
                    <tr>
                        <td align="right" height="230px" width="410px" valign="top" class="normal-font colored-table-column" style="padding-right:20px;padding-left:20px">
                            Share your DIY projects with friends with ease. No more looking for lost DIY plans or web resources that cannot be shared.
                        </td>
                    </tr>
                    <tr>
                        <td height="7px"></td>
                    </tr>
                </table>
            </div>
            <div class="normal-font diy-centered">Sign-up for a free account <a class="in-text-link colored-font" href="/signup">here</a> to explore all the features My DIY Workshop has to offer.</div>
        </div>

    </div>
    <div class="diy-centered footer-navbar">
        <div class="footer-navbar-item footer-font">
            <table>
                <tr align="center">
                    <td>&#169; My DIY Workshop</td>
                </tr>
                <tr align="center">
                    <td>rajajeswanth-capstone@outlook.com | +1 (612) 860-5364</td>
                </tr>
            </table>
        </div>
    </div>
</body>